In this notebook, we will seperate the csv file into 2 types. One csv file will be used for training of classification model: df_classification and the other will be used for training the regression model that would be useful for predicting the approved loan value in our 2 stage loan approval and prediction system: df_regression

In [1]:
import pandas as pd

pd.set_option('display.float_format', '{:.6f}'.format)

pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows

In [2]:
# importing testing dataset and removing approval and loan sanctined amount

tdf = pd.read_csv(r'C:\Users\user\Desktop\ML & DL projects\2 Stage loan system\data\test.csv')

tdf.head(5)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,C-26247,Tandra Olszewski,F,47,3472.690000,Low,Commercial associate,Managers,Semi-Urban,137088.980000,396.720000,N,N,2.000000,799.140000,0,Unpossessed,843,3472.690000,2,Urban,1,236644.5
1,C-35067,Jeannette Cha,F,57,1184.840000,Low,Working,Sales staff,Rural,104771.590000,463.760000,Y,Y,2.000000,833.310000,0,Unpossessed,22,1184.840000,1,Rural,1,142357.3
2,C-34590,Keva Godfrey,F,52,1266.270000,Low,Working,NaN,Semi-Urban,176684.910000,493.150000,N,Y,3.000000,627.440000,0,Unpossessed,1,1266.270000,1,Urban,1,300991.24
3,C-16668,Elva Sackett,M,65,1369.720000,High,Pensioner,NaN,Rural,97009.180000,446.150000,N,Y,2.000000,833.200000,0,Inactive,730,1369.720000,1,Semi-Urban,0,125612.1
4,C-12196,Sade Constable,F,60,1939.230000,High,Pensioner,NaN,Urban,109980.000000,370.100000,N,N,NaN,NaN,0,NaN,356,1939.230000,4,Semi-Urban,1,180908.0

In [3]:
tdf.isna().sum()

Customer ID                       0
Name                              0
Gender                           31
Age                               0
Income (USD)                    750
Income Stability                813
Profession                        0
Type of Employment             4689
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)      83
Expense Type 1                    0
Expense Type 2                    0
Dependents                     1142
Credit Score                    743
No. of Defaults                   0
Has Active Credit Card         1076
Property ID                       0
Property Age                    892
Property Type                     0
Property Location               160
Co-Applicant                      0
Property Price                    0
dtype: int64

In [4]:
tdf.shape

(20000, 23)

In [3]:
df = pd.read_csv(r'C:\Users\user\Desktop\ML & DL projects\2_Stage_loan_system\data\train.csv')

df.head(10)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,C-36995,Frederica Shealy,F,56,1933.050000,Low,Working,Sales staff,Semi-Urban,72809.580000,241.080000,N,N,3.000000,809.440000,0,NaN,746,1933.050000,4,Rural,1,119933.460000,54607.180000
1,C-33999,America Calderone,M,32,4952.910000,Low,Working,NaN,Semi-Urban,46837.470000,495.810000,N,Y,1.000000,780.400000,0,Unpossessed,608,4952.910000,2,Rural,1,54791.000000,37469.980000
2,C-3770,Rosetta Verne,F,65,988.190000,High,Pensioner,NaN,Semi-Urban,45593.040000,171.950000,N,Y,1.000000,833.150000,0,Unpossessed,546,988.190000,2,Urban,0,72440.580000,36474.430000
3,C-26480,Zoe Chitty,F,65,NaN,High,Pensioner,NaN,Rural,80057.920000,298.540000,N,Y,2.000000,832.700000,1,Unpossessed,890,NaN,2,Semi-Urban,1,121441.510000,56040.540000
4,C-23459,Afton Venema,F,31,2614.770000,Low,Working,High skill tech staff,Semi-Urban,113858.890000,491.410000,N,Y,NaN,745.550000,1,Active,715,2614.770000,4,Semi-Urban,1,208567.910000,74008.280000
5,C-17688,Polly Crumpler,F,60,1234.920000,Low,State servant,Secretaries,Rural,34434.720000,181.480000,N,N,2.000000,684.120000,1,Inactive,491,1234.920000,2,Rural,1,43146.820000,22382.570000
6,C-23855,Nathalie Olivier,M,43,2361.560000,Low,Working,Laborers,Semi-Urban,152561.340000,697.670000,Y,Y,2.000000,637.290000,0,Unpossessed,227,2361.560000,1,Semi-Urban,1,221050.800000,0.000000
7,C-11006,Clarinda Montana,F,45,NaN,Low,State servant,Managers,Semi-Urban,240311.770000,807.640000,N,N,2.000000,812.260000,0,Active,314,NaN,2,Urban,1,401040.700000,168218.240000
8,C-26934,Kenny Ankrom,F,38,1296.070000,Low,Working,Cooking staff,Rural,35141.990000,155.950000,N,Y,3.000000,705.290000,1,Active,241,1296.070000,4,Rural,1,54903.440000,22842.290000
9,C-24944,Barbie Goetsch,M,18,1546.170000,Low,Working,Laborers,Rural,42091.290000,500.200000,N,N,2.000000,613.240000,0,Unpossessed,883,1546.170000,2,Urban,1,67993.430000,0.000000

In [2]:
df1 = pd.read_csv(r"C:\Users\user\Desktop\ML & DL projects\2_Stage_loan_system\data\feature_engineered_pipeline\train_classification_data.csv")

df1.head(10)

,Gender,Age,Income (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Property Type,Co-Applicant,loan_approval,Profession_Other,Profession_Pensioner,Profession_State servant,Profession_Working,Location_Semi-Urban,Location_Urban,Has Active Credit Card_Inactive,Has Active Credit Card_Unpossessed,Property Location_Semi-Urban,Property Location_Urban,LTV_Ratio
0,1,0.382979,0.097487,0.789544,0,0,1.000000,0.208847,1,3,1.000000,1,0,0,0,1,1,0,0,0,0,1,0.528432
1,1,0.723404,0.097487,0.974519,0,1,1.000000,0.399734,0,2,1.000000,0,0,0,0,0,1,0,0,0,0,0,0.711410
2,0,0.000000,0.097487,-1.310088,0,0,2.000000,0.190445,0,2,1.000000,1,0,0,0,1,0,0,0,1,0,1,0.796454
3,0,0.000000,0.063149,1.584634,0,1,2.000000,0.808038,0,3,1.000000,0,0,0,0,1,1,0,1,0,0,1,0.536773
4,0,0.000000,0.900778,2.057459,0,1,2.000000,0.572946,0,2,1.000000,1,0,0,1,0,0,0,0,1,0,1,0.651632
5,1,0.000000,0.097487,1.648663,1,1,1.000000,0.881458,0,2,1.000000,0,0,0,0,0,0,1,0,0,0,0,0.583062
6,0,0.000000,0.474672,-0.139181,1,1,2.000000,0.442199,1,3,0.000000,1,0,0,1,0,1,0,0,1,0,1,0.690518
7,0,1.000000,0.097487,0.577213,1,1,2.000000,0.396983,0,2,1.000000,0,0,1,0,0,1,0,0,0,1,0,0.545515
8,1,0.021277,-0.231165,-0.571320,0,1,3.000000,0.232024,0,3,1.000000,0,0,0,0,1,1,0,1,0,1,0,0.552542
9,1,0.042553,0.097487,1.346337,1,1,3.000000,0.198887,1,2,1.000000,1,0,0,0,1,1,0,0,0,1,0,0.846615

In [3]:
df.shape

(30000, 24)

In [4]:
df.isna().sum()

Customer ID                       0
Name                              0
Gender                           53
Age                               0
Income (USD)                   4576
Income Stability               1683
Profession                        0
Type of Employment             7270
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card         1566
Property ID                       0
Property Age                   4850
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)      340
dtype: int64

In [5]:
df['loan_approval'] = df['Loan Sanction Amount (USD)'].apply(lambda x: 'not_approved' if x == 0 else 'approved')

df.head(2)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD),loan_approval
0,C-36995,Frederica Shealy,F,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,...,0,NaN,746,1933.05,4,Rural,1,119933.46,54607.18,approved
1,C-33999,America Calderone,M,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,...,0,Unpossessed,608,4952.91,2,Rural,1,54791.00,37469.98,approved

In [8]:
df_classification = df.copy()

df_classification.drop(columns='Loan Sanction Amount (USD)', axis=1)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,loan_approval
0,C-36995,Frederica Shealy,F,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,...,809.44,0,NaN,746,1933.05,4,Rural,1,119933.46,approved
1,C-33999,America Calderone,M,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,...,780.40,0,Unpossessed,608,4952.91,2,Rural,1,54791.00,approved
2,C-3770,Rosetta Verne,F,65,988.19,High,Pensioner,NaN,Semi-Urban,45593.04,...,833.15,0,Unpossessed,546,988.19,2,Urban,0,72440.58,approved
3,C-26480,Zoe Chitty,F,65,NaN,High,Pensioner,NaN,Rural,80057.92,...,832.70,1,Unpossessed,890,NaN,2,Semi-Urban,1,121441.51,approved
4,C-23459,Afton Venema,F,31,2614.77,Low,Working,High skill tech staff,Semi-Urban,113858.89,...,745.55,1,Active,715,2614.77,4,Semi-Urban,1,208567.91,approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,C-43723,Angelyn Clevenger,M,38,4969.41,Low,Commercial associate,Managers,Urban,76657.90,...,869.61,0,Unpossessed,566,4969.41,4,Urban,1,111096.56,approved
29996,C-32511,Silas Slaugh,M,20,1606.88,Low,Working,Laborers,Semi-Urban,66595.14,...,729.41,0,Inactive,175,1606.88,3,Urban,1,73453.94,approved
29997,C-5192,Carmelo Lone,F,49,NaN,Low,Working,Sales staff,Urban,81410.08,...,NaN,0,Active,959,NaN,1,Rural,1,102108.02,approved
29998,C-12172,Carolann Osby,M,38,2417.71,Low,Working,Security staff,Semi-Urban,142524.10,...,677.27,1,Unpossessed,375,2417.71,4,Urban,1,168194.47,approved
29999,C-33003,Bridget Garibaldi,F,63,3068.24,High,Pensioner,NaN,Rural,156290.54,...,815.44,0,Active,344,3068.24,3,Rural,1,194512.60,approved

In [9]:
df_classification.to_csv(r"C:\Users\user\Desktop\ML & DL projects\2 Stage loan system\data\classification_data.csv", index=False)

In [13]:
df_regression = df[df['Loan Sanction Amount (USD)'] !=0]
df_regression.drop(columns='loan_approval', axis=1, inplace=True)
df_regression.head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_14236\2282134391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regression.drop(columns='loan_approval', axis=1, inplace=True)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,C-36995,Frederica Shealy,F,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,...,809.44,0,NaN,746,1933.05,4,Rural,1,119933.46,54607.18
1,C-33999,America Calderone,M,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,...,780.40,0,Unpossessed,608,4952.91,2,Rural,1,54791.00,37469.98
2,C-3770,Rosetta Verne,F,65,988.19,High,Pensioner,NaN,Semi-Urban,45593.04,...,833.15,0,Unpossessed,546,988.19,2,Urban,0,72440.58,36474.43
3,C-26480,Zoe Chitty,F,65,NaN,High,Pensioner,NaN,Rural,80057.92,...,832.70,1,Unpossessed,890,NaN,2,Semi-Urban,1,121441.51,56040.54
4,C-23459,Afton Venema,F,31,2614.77,Low,Working,High skill tech staff,Semi-Urban,113858.89,...,745.55,1,Active,715,2614.77,4,Semi-Urban,1,208567.91,74008.28

In [14]:
df_regression.to_csv(r"C:\Users\user\Desktop\ML & DL projects\2 Stage loan system\data\regression_data.csv", index=False)

In [8]:
prediction_df = pd.read_csv(r"C:\Users\user\Desktop\ML & DL projects\2 Stage loan system\data\test_predictions_results.csv")

In [10]:
prediction_df.head(5)

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,loan_approved,was_imputed,predicted_sanction_amount
0,C-26247,Tandra Olszewski,F,47,3472.690000,Low,Commercial associate,Managers,Semi-Urban,137088.980000,396.720000,N,N,2.000000,799.140000,0,Unpossessed,843,3472.690000,2,Urban,1,236644.5,False,False,0.000000
1,C-35067,Jeannette Cha,F,57,1184.840000,Low,Working,Sales staff,Rural,104771.590000,463.760000,Y,Y,2.000000,833.310000,0,Unpossessed,22,1184.840000,1,Rural,1,142357.3,False,False,0.000000
2,C-34590,Keva Godfrey,F,52,1266.270000,Low,Working,NaN,Semi-Urban,176684.910000,493.150000,N,Y,3.000000,627.440000,0,Unpossessed,1,1266.270000,1,Urban,1,300991.24,True,False,52924.980000
3,C-16668,Elva Sackett,M,65,1369.720000,High,Pensioner,NaN,Rural,97009.180000,446.150000,N,Y,2.000000,833.200000,0,Inactive,730,1369.720000,1,Semi-Urban,0,125612.1,False,False,0.000000
4,C-12196,Sade Constable,F,60,1939.230000,High,Pensioner,NaN,Urban,109980.000000,370.100000,N,N,NaN,NaN,0,NaN,356,1939.230000,4,Semi-Urban,1,180908.0,False,False,0.000000